$default-media-query : 'default';

$setting: (
    screensize : (
        default : 0 infinity,
        mobile : 0 767px,
        phone : 0 480px,
        tablet : 481px 767px,
        desktop : 768px 979px,
        widescreen : 1200px infinity
    ),
    default : (
        background : #eee,
        color : #333,
        border-color : #333,
        font-size : 15px,
        font-family : (
            Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif
        )
    ),
    element : (
        a : (
            color: #b22222,
        ),
        a-hover: (
            color: #a52a2a
        ),
        h2: (
            margin: 0 0 9px 0
        ),
        ul: (
            padding: 0,
            margin: 0 0 9px 25px
        ),
        ol: (
            padding: 0,
            margin: 0 0 9px 25px
        ),
    ),
    component : (
        grid : (
            cell : (
                __self : (
                    margin: 20px
                )
            )
        ),
        section : (
            header : (
                __self : (
                    background: #fff
                )
            ),
            footer : (
                __self : (
                    color: #333
                )
            ),
            main : (
                __self : (
                    background: #fff
                ),
                menu : (
                    __self : (
                        width: 225px
                    ),
                ),
                content : (
                    __self : (
                        background: #fff
                    )
                )
            )
        ),
        navigation : (
            header: (
                item: (
                    __self : (
                        margin: 20px,
                    ),
                    __link-normal : (
                        padding: 8px,
                        color: #333
                    ),
                    __link-active : (
                        border-color: #a52a2a,
                        border-width: 0 0 3px 0
                    ),
                    __link-hover : (
                        border-color: #a52a2a,
                        border-width: 0 0 3px 0
                    ),
                ),
            ),
            main: (
                item: (
                    __self : (
                        margin: 0
                    ),
                    __link-normal : (
                        padding: 10px 15px,
                        border-color: #5c5c5c
                    ),
                    __link-active : (
                        color: #fff,
                        background: #a52a2a
                    ),
                    __link-hover : (
                        color: #fff,
                        background: #a52a2a
                    )
                )
            ),
            pagination: (
                item: (
                    __self : (
                        margin: 0 4px 0 0,
                        border-radius: 5px
                    ),
                    __link-normal : (
                        padding: 4px 8px,
                        background: #eee,
                        color: #333,
                        border-radius: 5px
                    ),
                    __link-active : (
                        color: #fff,
                        background: #a52a2a
                    ),
                    __link-hover : (
                        color: #fff,
                        background: #a52a2a
                    )
                )
            )
        )
    )
);
