$default-media-query : 'default';

$setting: (
    screensize : (
        default : 0 infinity,
        mobile : 0 767px,
        phone : 0 480px,
        tablet : 481px 767px,
        desktop : 768px 979px,
        widescreen : 1200px infinity
    ),
    default : (
        background : #282828,
        color : #333,
        border-color : #333,
        font-size : 13px,
        font-family : (
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif
        )
    ),
    element : (
        a : (
            color: #2b80a4
        ),
        a-hover: (
            color: #337394
        ),
        h2: (
            margin: 0 0 9px 0
        ),
        ul: (
            padding: 0,
            margin: 0 0 9px 25px
        ),
        ol: (
            padding: 0,
            margin: 0 0 9px 25px
        ),
    ),
    component : (
        grid : (
            cell : (
                __self : (
                    margin: 10px
                )
            )
        ),
        section : (
            header : (
                __self : (
                    background: #282828
                )
            ),
            footer : (
                __self : (
                    color: #fff
                )
            ),
            main : (
                __self : (
                    background: #3d3d3d
                ),
                menu : (
                    __self : (
                        width: 225px
                    )
                ),
                content : (
                    __self : (
                        background: #fff
                    )
                )
            )
        ),
        navigation : (
            header: (
                item: (
                    __self : (
                        margin: 0
                    ),
                    a : (
                        __self : (
                            padding: 8px,
                            color: #fff
                        )
                    ),
                    a-hover : (
                        __self : (
                            background: #666
                        )
                    ),
                    active: (
                        a : (
                            __self : (
                                background: #2b80a4
                            )
                        ),
                        a-hover : (
                            __self : (
                                background: #2b80a4
                            )
                        )
                    )
                )
            ),
            main: (
                item: (
                    __self : (
                        margin: 0
                    ),
                    a : (
                        __self : (
                            padding: 10px 15px,
                            color: #fff,
                            border-width: 1px 0 0 0,
                            border-color: #5c5c5c
                        )
                    ),
                    a-hover : (
                        __self : (
                            background: #222
                        )
                    ),
                    active: (
                        a : (
                            __self : (
                                background: #222
                            )
                        ),
                        a-hover : (
                            __self : (
                                background: #222
                            )
                        )
                    )
                )
            ),
            pagination: (
                item: (
                    __self : (
                        margin: 0 4px 0 0,
                        border-radius: 5px
                    ),
                    a : (
                        __self : (
                            padding: 4px 8px,
                            color: #333,
                            border-color: #ccc,
                            border-width: 1px,
                            border-radius: 5px
                        )
                    ),
                    a-hover : (
                        __self : (
                            background: #eee
                        )
                    ),
                    active: (
                        a : (
                            __self : (
                                background: #eee
                            )
                        ),
                        a-hover : (
                            __self : (
                                background: #eee
                            )
                        )
                    )
                )
            )
        )
    )
);
