@include primitive('display-block__hack') {
    display: block;
    *zoom: 1;
}

@include primitive('display-block') {
    display: block;
}

@include primitive('display-list-item') {
    display: list-item;
}

@include primitive('blank-as-table__hack') {
    display: table;
    content: "";
}

@include primitive('position-relative') {
    position : relative;
}

@include primitive('clear-both') {
    clear : both;
}

@include primitive('float-left') {
    float : left;
}

@include primitive('float-none') {
    float : none;
}

@include primitive('margin-none') {
    margin: 0;
}

@include primitive('padding-none') {
    padding: 0;
}

@include primitive('width-fill') {
    min-width:50px;
    width:10000px;
    *width:auto;
    display:table-cell;
    float:none;
    _float:left;
}

@include primitive('width-full') {
    width: 100%;
}

@include primitive('height-min-1px') {
    min-height: 1px;
}

@include primitive('list-style-type-none') {
    list-style-type : none;
}

@include primitive('list-style-type-disc') {
    list-style-type : disc;
}

@include primitive('list-style-type-decimal') {
    list-style-type : decimal;
}

@include primitive('overflow-visible') {
    overflow: visible;
}

@include primitive('white-space-nowrap') {
    white-space: nowrap;
}

@include primitive('white-space-normal') {
    white-space: normal;
}

@include primitive('text-decoration-none') {
    text-decoration: none;
}

@include primitive('border-default') {
    $color : map-get(setting(("default", "color")), "color");
    border: 0 solid $color;
}

@include primitive('color-default') {
    @include setting("default", "color");
}

@include primitive('background-default') {
    @include setting("default", "background");
}

@include primitive('font-size-default') {
    @include setting("default", "font-size");
}

@include primitive('font-family-default') {
    @include setting("default", "font-family");
}

@include primitive('clearfix') {
    &:before{
        @include extend-primitive('blank-as-table__hack');
    }
    & {
        @include extend-primitive('display-block__hack');
    }
    &:after {
        @include extend-primitive('blank-as-table__hack');
        @include extend-primitive('clear-both');
    }
}
