@import '../elements/__index';

%component__grid__item {
    @extend %primitive__clearfix;
    @extend %primitive__float-left;
    @extend %primitive__width-full;
    @extend %primitive__height-min-1px;
}

%component__grid__cell {
    @extend %primitive__clearfix;
    @extend %primitive__position-relative;
    margin: map-get(map-get(map-get($setting, "grid"), "cell"), "margin");
}

%component__navigation {
    @extend %primitive__float-left;
    @extend %primitive__margin-none;
    @extend %primitive__list-style-type-none;
}

%component__navigation__item {
    @extend %primitive__clearfix;
    @extend %primitive__position-relative;
    @extend %primitive__list-style-type-none;
    @extend %primitive__overflow-visible;
    & a {
        @extend %primitive__clearfix;
        @extend %primitive__position-relative;
        @extend %primitive__text-decoration-none;
    }
}

%component__navigation__item-horizontal {
    @extend %component__navigation__item;
    @extend %primitive__float-left;
    @extend %primitive__white-space-nowrap;
    & a {
        @extend %primitive__float-left;
    }
}

%component__navigation__item-vertical {
    @extend %component__navigation__item;
    @extend %primitive__float-none;
    @extend %primitive__white-space-normal;
    & a {
        @extend %primitive__float-none;
    }
}

%component__section-footer {
    color: map-get(map-get($setting, "footer"), "color");
}

%component__section-header {
    background: map-get(map-get($setting, "header"), "background");
}

%component__navigation-header-menu {
    @extend %component__navigation;
}

%component__navigation-header-menu__item {
    @extend %component__navigation__item-horizontal;
    margin: map-get(map-get(map-get($setting, "header-menu"), "item"), "margin");
    & a {
        padding: map-get(map-get(map-get($setting, "header-menu"), "item"), "padding");
        background: map-get(map-get(map-get($setting, "header-menu"), "item"), "background");
        color: map-get(map-get(map-get($setting, "header-menu"), "item"), "color");
        border-color: map-get(map-get(map-get($setting, "header-menu"), "item"), "border-color");
        border-width: map-get(map-get(map-get($setting, "header-menu"), "item"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "header-menu"), "item"), "text-decoration");
        &:hover {
            background: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "background");
            color: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "color");
            border-color: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "border-color");
            border-width: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "text-decoration");
        }
    }
}

%component__navigation-header-menu__item-active {
    & a {
        background: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "background");
        color: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "color");
        border-color: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "border-color");
        border-width: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "text-decoration");
        &:hover {
            background: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "background");
            color: map-get(map-get(map-get($setting, "header-menu"), "item-hover"), "active");
            border-color: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "border-color");
            border-width: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "header-menu"), "item-active"), "text-decoration");
        }
    }
}

%component__section-main {
    background: map-get(map-get($setting, "main"), "background");
}

%component__section-main__content {
    background: map-get(map-get(map-get($setting, "main"), "content"), "background");
}

%component__section-main__menu {
    width: map-get(map-get(map-get($setting, "main"), "menu"), "width");
}

%component__navigation-main-menu {
    @extend %component__navigation;
}

%component__navigation-main-menu__item {
    @extend %component__navigation__item-vertical;
    margin: map-get(map-get(map-get($setting, "main-menu"), "item"), "margin");
    & a {
        padding: map-get(map-get(map-get($setting, "main-menu"), "item"), "padding");
        background: map-get(map-get(map-get($setting, "main-menu"), "item"), "background");
        color: map-get(map-get(map-get($setting, "main-menu"), "item"), "color");
        border-color: map-get(map-get(map-get($setting, "main-menu"), "item"), "border-color");
        border-width: map-get(map-get(map-get($setting, "main-menu"), "item"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "main-menu"), "item"), "text-decoration");
        &:hover {
            background: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "background");
            color: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "color");
            border-color: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "border-color");
            border-width: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "text-decoration");
        }
    }
}

%component__navigation-main-menu__item-active {
    & a {
        background: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "background");
        color: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "color");
        border-color: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "border-color");
        border-width: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "text-decoration");
        &:hover {
            background: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "background");
            color: map-get(map-get(map-get($setting, "main-menu"), "item-hover"), "active");
            border-color: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "border-color");
            border-width: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "main-menu"), "item-active"), "text-decoration");
        }
    }
}

%component__navigation-pagination {
    @extend %component__navigation;
}

%component__navigation-pagination__item {
    @extend %component__navigation__item-horizontal;
    margin: map-get(map-get(map-get($setting, "pagination"), "item"), "margin");
    border-radius: map-get(map-get(map-get($setting, "pagination"), "item"), "border-radius");
    & a {
        padding: map-get(map-get(map-get($setting, "pagination"), "item"), "padding");
        background: map-get(map-get(map-get($setting, "pagination"), "item"), "background");
        color: map-get(map-get(map-get($setting, "pagination"), "item"), "color");
        border-color: map-get(map-get(map-get($setting, "pagination"), "item"), "border-color");
        border-width: map-get(map-get(map-get($setting, "pagination"), "item"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "pagination"), "item"), "text-decoration");
        border-radius: map-get(map-get(map-get($setting, "pagination"), "item"), "border-radius");
        &:hover {
            background: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "background");
            color: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "color");
            border-color: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "border-color");
            border-width: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "text-decoration");
        }
    }
}

%component__navigation-pagination__item-active {
    & a {
        background: map-get(map-get(map-get($setting, "pagination"), "item-active"), "background");
        color: map-get(map-get(map-get($setting, "pagination"), "item-active"), "color");
        border-color: map-get(map-get(map-get($setting, "pagination"), "item-active"), "border-color");
        border-width: map-get(map-get(map-get($setting, "pagination"), "item-active"), "border-width");
        text-decoration: map-get(map-get(map-get($setting, "pagination"), "item-active"), "text-decoration");
        &:hover {
            background: map-get(map-get(map-get($setting, "pagination"), "item-active"), "background");
            color: map-get(map-get(map-get($setting, "pagination"), "item-hover"), "active");
            border-color: map-get(map-get(map-get($setting, "pagination"), "item-active"), "border-color");
            border-width: map-get(map-get(map-get($setting, "pagination"), "item-active"), "border-width");
            text-decoration: map-get(map-get(map-get($setting, "pagination"), "item-active"), "text-decoration");
        }
    }
}