@import '../primitives/__index';

%element__body {
    @extend %primitive__margin-none;
    @extend %primitive__padding-none;
    @extend %primitive__background-default;
    @extend %primitive__color-default;
    @extend %primitive__border-default;
    @extend %primitive__font-size-default;
    @extend %primitive__font-family-default;
}

%element__section {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__header {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__main {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__footer {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__div {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__nav {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
}

%element__h2 {
    @extend %primitive__clearfix;
    @extend %primitive__border-default;
    margin: map-get(map-get(map-get($setting, "element"), "h2"), "margin");
}

%element__ol, %element__ul {
    @extend %primitive__clearfix;
    @extend %primitive__padding-none;
    @extend %primitive__border-default;
}

%element__ol {
    @extend %primitive__border-default;
    @extend %primitive__list-style-type-decimal;
    padding: map-get(map-get(map-get($setting, "element"), "ol"), "padding");
    margin: map-get(map-get(map-get($setting, "element"), "ol"), "margin");
}

%element__ul {
    @extend %primitive__border-default;
    @extend %primitive__list-style-type-disc;
    padding: map-get(map-get(map-get($setting, "element"), "ul"), "padding");
    margin: map-get(map-get(map-get($setting, "element"), "ul"), "margin");
}

%element__li {
    @extend %primitive__border-default;
    @extend %primitive__display-list-item;
}

%element__a {
    @extend %primitive__border-default;
    color: map-get(map-get(map-get($setting, "element"), "a"), "color");
    &:hover {
        color: map-get(map-get(map-get($setting, "element"), "a-hover"), "color");
    }
}